@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
        <tr id="element">
            <td>123</td>
            <td>Brian</td>
            <td>28</td>
        </tr>
    </tbody>
</table>

<div id="showCurrentPage" class="alert"></div>

<ul id="pagination-demo" class="pagination-sm"></ul>



<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.twbsPagination.js"></script>

<script type="text/javascript">

    $('#pagination-demo').twbsPagination({
        totalPages: 35,
        visiblePages: 7,
        onPageClick: function (event, page) {
            $('#showCurrentPage').text('Page ' + page);
        }
    });
    
</script>